<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <h3>Welcome to IIHT Adajan Surat</h3>
      <h4><a href="http://localhost:3000/sample_data/">http://localhost:3000/sample_data/</a></h4>
    </center>
  </body>
</html>
